.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    color: var(--blue-200);
    min-width: 360;
    min-height: 800;
}
.topRightImageFrame {
    position: absolute;
    top: 0;
    right: 0;
    @media(max-width:800px) {
       display: none;
    }
 }
 .topImageFrameMobile {
    display: none;
    @media(max-width:800px) {
        display: flex;
        position: absolute;
        width: 100%;
     }
 }
 .bottomLeftImageFrame {
    position: absolute;
    left: 0;
    bottom: 0;
    @media(max-width:800px) {
        display: none;
     }
}
.bottomImageFrameMobile {
    display: none;
    @media(max-width:800px) {
        display: flex;
        width: 100%;
        
     }
 }
.centerContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .boxCenterContainers {
        display: flex;
        justify-content: space-between;
        width: 78.19%;
        height: 61.33%;
        max-width: 70rem;
        z-index: 1;
        background: linear-gradient(223.72deg, #F6C93F -32.25%, rgba(233, 197, 93, 0) -32.25%, rgba(255, 204, 41, 0) -32.23%, #B3B3DD -10.31%, rgba(51, 52, 104, 0.94) 55.94%);
        box-shadow: inset 3px 8px 87px 3px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        
        .rightBox {        
            width: 49.56%;
            ///max-width: 34.875rem;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
            align-items: center;
            background-color: #EAEAF4;
            border-radius: 25px;   
            z-index: 1;
            .boxInputsAll {
                width: 100%;
            }
            .usersInputBox {
                background:#44469F;
                border: none;
                width: 63.76%;
                max-width: 357px;
                min-width: 243px;
                height: 65px;
                border-radius: 33px;
                color: #fff;
                font-family: 'Rubik',sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                padding-left: 40px;
                line-height: 19px;
                outline: none;
                border-bottom: 2px solid #fff;
                transition: 0.1s background;
                &:focus{
                    background: #BEBFDE;
                    border-bottom: 2px solid #2E3094;
                    color:#2E3094;
                    font-weight: 600;
                    &::placeholder {
                        color: #2E3094;
                        font-weight: 600;
                    }
                    
                }
            &::placeholder {
                    color: #fff;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                }
            
            @media (max-width: 800px) {
                height: 44px;
            }
        }   
        .usersInputBox:focus .inputIcons {
            color: red;
        }
        .buttonContainer{
            width: 100%;
            display: flex;
            justify-content: center;

            .buttonLogin {
                background:#EAEAF4;
                border: none;
                width: 70.76%;
                max-width: 420px;
                min-width: 243px;
                height: 65px;
                border-radius: 35px;
                color: #2E3094;
                font-family: 'Rubik',sans-serif;
                font-weight: 600;
                font-size: 16px;
                border: 2px solid #2E3094;
                cursor: pointer;
                transition: 0.2s background;

                &:hover {
                    background: #BEBFDE;
                    font-weight: 600;
                    border: none;
                }

                @media (max-width:800px){
                    height: 46px;
                    width: 283px;
                }
                
            }
        }
        }
        @media(max-width:800px){               
            .rightBox {
                position: absolute;
                min-width: 316px;
                max-width: 316px;
                min-height: 336px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                background-color: #EAEAF4;
                
            
            }
            .leftBox {
                display: none;
            }           
        }
        
       
    }
    @media(max-width:800px) {
        .boxCenterContainers {
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }  
    }
}
.topContainerImages {
    top: 0;
    position: fixed;
    right: 0;
    width: 100%;
}
.bottomContainerImages {
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
}

.inputStylesBoxs {
    min-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    gap: 0.450rem;

        .inputIcons {
            position: relative;
            bottom: -3.08rem;
            margin-right: 62%;

            @media (max-width: 960px) {
                margin-right: 72%;
            }
            @media (max-width: 800px){
                margin-right: 73%;
                bottom: -2.40rem;
           }
            
        }
    }
        .ForgetLink {
            text-decoration-line: none;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            &:hover {
                text-decoration-line: underline;
                
            }
        }
        
        .containerForgetLink {
            width: 100%;
            max-width: 400px;
            display: flex;
            justify-content: flex-end;
            height: 40px;
            margin-right: 7rem;
            
            @media (max-width:800px){
                height: 18px;
                margin-right: 0;
                margin-left: 100px;
                justify-content: center;
            }
        }
        .ForgetLink:active,  .ForgetLink:visited{
            color: #2E3094;
        }
        .teste2 {
            background-color: red;
        }
        .ciapNameFooter {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: self-end;
            justify-content: flex-end;
            max-width: 1450px;

            @media (max-width:800px){
                display: none;
            }
            .firstNameFooter {
                color: #44469F;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                bottom: -40px;
                margin-right: 13rem;
                position: relative;
            }
            .secondNameFooter {
                color: #2E3094;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                bottom: -40px;
                padding-left: 10px;
                margin-top: 10px;
                margin-right: 12.7rem;
                position: relative;
            }
        }