.loginWrapper {
    display: flex;
    justify-content: center;

    .topRightImageFrame {
        position: fixed;
        top: 0;
        right: 0;
        
        @media (max-width: 50rem) {
            display: none;
        }
    }
    .topImageFrameMobile {
        display: none;

        @media (max-width: 50rem){
            display: inherit;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
        }
    }
    .loginContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        width: 100%;
        height: calc(100vh);

        .loginCenterBox{
            display: flex;
            width: 78.19%;
            height: 61.33%;
            justify-content: space-between;
            max-width: 70rem;
            min-height: 35.4rem;
            background: linear-gradient(223.72deg, #F6C93F -32.25%, rgba(233, 197, 93, 0) -32.25%, rgba(255, 204, 41, 0) -32.23%, #B3B3DD -10.31%, rgba(51, 52, 104, 0.94) 55.94%);
            box-shadow: inset 0.188rem 0.5rem 5.438rem 0.188rem rgba(0, 0, 0, 0.25);
            border-radius: 1.563rem;
            z-index:1;
                .leftBox {
                    .bonecaImage{
                        position: relative;
                        width: 100%;
                        height: 100%;
                    }
                    @media (max-width:50rem) {
                        display: none;
                    }
                }

                .rightBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: var(--blue-100);
                    width: 49.56%;
                    border-radius: 1.563rem;
                    height: 100%;

                    form  {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .formSection {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1.688rem;
                            width: 100%;
                            padding: 0rem 3.365rem;


                            .inputsBox {
                                display: flex;
                                width: 100%;

                                    .iconsInput{
                                        display: flex;
                                        position: relative;
                                        top: 1.375rem;
                                        left: 2.125rem;

                                        @media (max-width:50rem){
                                            top: 0.683rem;
                                            left: 2.125rem;
                                        }
                                    }
                                    
                                    input {
                                        width: 100%;
                                        background:var(--blue-600);
                                        border: none;
                                        height: 4.063rem;
                                        max-width: 19.813rem;
                                        border-radius: 2.063rem;
                                        color:var(--white);
                                        font-weight: 600;
                                        font-size: 1rem;
                                        padding-left: 2.5rem;
                                        line-height: 1.188rem;
                                        outline: none;
                                        border-bottom: 0.125rem solid var(--white);
                                        transition: 0.1s background;
                                        &::placeholder {
                                            color: inherit;
                                        }
        
                                        &:focus{
                                            background: #BEBFDE;
                                            border-bottom: 0.125rem solid var(--blue-400);
                                            color:var(--blue-400);
                                            font-weight: 600;
        
                                            &::placeholder {
                                                color: var(--blue-400);
                                                font-weight: 600;
                                            }  
                                        }
        
                                        @media (max-width:50rem) {
                                            min-width: 15.188rem;
                                            height: 3rem;
                                            font-weight: 500;
                                            font-size: 0.75rem;
                                            line-height: 0.875rem;
                                        }
                                    }
                                    @media (max-width:50rem) {
                                        justify-content: center;
                                    }
                            }
                            
                            .forgetPasswordSpan{
                                width: 100%;
                                display: flex;
                                justify-content: flex-end;
                                a {
                                    color: var(--blue-400);
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 0.75rem;
                                    line-height: 0.875rem;
                                    margin-right: 2.575rem;
                                    &:hover {
                                        text-decoration-line: underline;
                                    }
                                }
                                
                            }

                            button {
                                margin-top: 0.625rem;
                                width: 100%;
                                background:var(--blue-100);
                                border: none;
                                min-width: 15.188rem;
                                height: 4.063rem;
                                border-radius: 2.188rem;
                                color: var((--blue-400));
                                font-weight: 600;
                                max-width: 22.313rem;
                                border: 0.125rem solid var(--blue-400);
                                transition: 0.2s background;
                                margin-left: 0.625rem;

                                &:hover {
                                    background: var(--blue-300);
                                    font-weight: 600;
                                    border: none;
                                }

                                @media (max-width: 50rem) {
                                    margin-top: 0;
                                    min-width: 18rem;
                                    max-width: 16rem;
                                    height: 2.75rem;
                                }
                            }
                        }
                    }
                    footer {
                        margin-left: 0.625rem;
                        width: 100%;
                        margin-top: 1.975rem;
                        display: flex;
                        gap: 1.25rem;
                        align-items: center;
                        justify-content: center;
                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1.75rem;

                            hr {
                                border: 1px solid #BEBFDE;
                                width: 8.875rem;

                            }
                            @media (max-width:50rem) {
                                hr {
                                    width: 4.125rem;
                                }
                                .footerImage {
                                    height: 3.525rem;
                                }
                            }
                        }
                    }
                    @media (max-width: 50rem) {
                        width: 100%;

                    }
                }
            @media (max-width:50rem){
                max-height: 27rem;
                min-height: 25rem;
            }
        }
    }
    .systemNameFooter {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: var(--blue-400);
        width: 100%;
        max-width: 60.625rem;
        margin-top: 2.5rem;
        gap: 10px;
        .systemName {
            font-weight: 700;
            z-index: 1;
        }
        .ciapName {
            margin-right: -0.375rem;
            z-index: 1;
        }
        @media (max-width:78.375rem){
            align-items: center;
        }
        @media (max-width:50rem){
            display: none;           
        }

    }
    .bottomLeftImageFrame {
        position: fixed;
        bottom: 0;
        left: 0;

        @media (max-width: 50rem) {
            display: none;
        }
    }
    .bottomImageFrameMobile {
        display: none;
        
        @media (max-width: 50rem) {
            width: 100%;
            display: inherit;
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
}