.dashboardWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    .dashboardContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .dashboardMain{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1450px;
            height: 100%;
            background: #FCFCFC;
            border-radius: 25px;
            margin-top: 56px;
            max-height: 566px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);

            @media (min-height:900px){
                max-height: 766px;
            }
        }
        
    }
}