.dashboardWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;

    .dashboardContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;

        .dashboardMain{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1450px;
            margin-top: 114px;
            background: #FCFCFC;
            border-radius: 25px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.42);       
        }
        
    }
}