* {
    margin: 0;
    padding: 0;
    padding: border-box;
}

:root {

      /* --- TONS DE LARANJA --- */

    --orange-100:#fffaea; 
    --orange-200:#fff7df;
    --orange-300:#ffefbd; 
    --orange-400:#ffcc29; 
    --orange-500:#e6b825; 
    --orange-600:#cca321; 
    --orange-700:#bf991f; 
    --orange-800:#997a19; 
    --orange-900:#735c12; 
    --orange-1000:#59470e; 
    
    /* --- TONS DE AZUL --- */
    
    --blue-100:#eaeaf4;
    --blue-200:#e0e0ef;
    --blue-300:#bebfde;
    --blue-400:#2e3094;
    --blue-500:#292b85;
    --blue-600:#252676;
    --blue-700:#23246f;
    --blue-800:#1c1d59;
    --blue-900:#151643;
    --blue-1000:#101134;

    /* --- FONT FAMILY --- */
    --fontFamily: 'Rubik', sans-serif;
}

* body, html {
    min-width: 400px;
    background: var(--blue-300);
}