.cardContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    .cadInformation {
        height: 100%;
        width: 99%;
        display: flex;
        align-items: center;
        font-weight: 500;
        justify-content: space-around;
        max-height: 40px;
        background-color: #D9D9D9;
        color: #797979;
        border-radius: 6px;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.42);
      
        cursor: pointer;
         .pName {
            margin-left: 20px;
            width: 60%;

            @media (max-height:900px){
               width: 50%;
            }
         }
         .pOthersInformations {
            width: 18%;
         }
         &:hover {
            background-color: #A2A2A2;
            color: #FCFCFC;
         }

         @media (max-height:900px){
            max-height: 26px;
         }
    }
}