.sideBarContainer, .newSidestyles {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    display: flex;
    visibility: hidden;
    max-width: 350px;
    left: 0;
    opacity: 0;
    flex-direction: column;
    background:#FCFCFC;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.42);
    transition: all 350ms;
    z-index: 1;
    header {
        display: flex;
        height: 110px;
        background-color: var(--blue-100);
        border-radius: 0px 25px 0px 0px;
        color: #44469F;
        font-weight: 700;
        width: 100%;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        p{
            text-align: center;
            padding-left: 28px;
        }
        .imagesHeader {
            width: 36px;
            height: 49px;
            margin-right: 42px;
        }
    }


    ul {
        display: inherit;
        flex-direction: column;
        padding-top: 52px;
        flex-grow: 1;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        padding-left: 0;

        .liItens, .liItensActive {
            gap: 12px;
            padding-left: 31px;
            display: inherit;
            align-items: center;
            height: 100%;
            max-height: 50px;
            text-align: start;
            color: #797979;
            cursor: pointer;
            border-left: 3px solid #fff;
            transition: all 0.2s;
        }
        li:hover {
            background: rgba(43, 35, 35, 0.08);
        }
        .liItensActive {
            color: #2E3094;
            border-left: 3px solid #2E3094;
            box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.3);
        }
        .liIcons {
            width: 25px;
            height: 25px;
        }
    }

}
.newSidestyles {
    position: relative;
    visibility: visible;
    left: 0;
    opacity: 1;

    @media (max-width:768px){
        position: fixed;
    }
}